.questions{
    padding-top: 143px;
    &__wrapper{
        background-color: #F2F2F2;
        padding-top: 60px;
        padding-bottom: 63px;
        position: relative;
    }
    &__title{
        font-size: 42px;
        line-height: 50.4px;
        font-weight: 500;
    }
    &__subtitle{
        font-size: 18px;
        line-height: 27px;
    }
    &__form{
        margin-top: 38px;
        display: flex;
        align-items: flex-end;
        &-descr{
            margin-top: 18px;
            font-size: 14px;
            line-height: 15.4px;
            opacity: 0.4;
        }
    }
    &__input{
        width: 294px;
        height: 44px;
        border: 1px solid #000;
        border-radius: 4px;
        opacity: 0.5;
        font-size: 16px;
        padding: 0 13px;
        margin-right: 19px;
        margin-top: 4px;
    }
    label{
        display: flex;
        flex-direction: column;
        font-size: 14px;
        line-height: 15.4px;
    }
    &__btn{
        font-size: 16px;
    }
    &__img{
        position: absolute;
        top: -80px;
        right: 0;
    }
}